@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 15%;
    --muted-foreground: 0 0% 63%;
    --accent: 240 4% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 0 0% 83%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 15%;
    --muted-foreground: 0 0% 63%;
    --accent: 240 4% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 0 0% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .hero-bg-pattern {
    background-color: hsl(var(--background));
    background-image: radial-gradient(
      hsl(var(--foreground) / 0.05) 1px,
      transparent 1px
    );
    background-size: 20px 20px;
  }

  .newsletter-bg-pattern {
    background-color: hsl(var(--card));
    background-image:
      linear-gradient(
        135deg,
        hsl(var(--border) / 0.5) 12.5%,
        transparent 12.5%,
        transparent 50%,
        hsl(var(--border) / 0.5) 50%,
        hsl(var(--border) / 0.5) 62.5%,
        transparent 62.5%,
        transparent 100%
      ),
      linear-gradient(
        45deg,
        hsl(var(--border) / 0.5) 12.5%,
        transparent 12.5%,
        transparent 50%,
        hsl(var(--border) / 0.5) 50%,
        hsl(var(--border) / 0.5) 62.5%,
        transparent 62.5%,
        transparent 100%
      );
    background-size: 14px 14px;
  }
}
